@font-face {
  font-family: 'icon';
  src: url('fonts/icon.eot?kp9job');
  src: url('fonts/icon.eot?kp9job#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?kp9job') format('truetype'), url('fonts/icon.woff?kp9job') format('woff'),
    url('fonts/icon.svg?kp9job#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-']::before,
[class*=' _icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-a:before {
  content: '\e900';
}
._icon-car:before {
  content: '\e901';
}
