@import 'iconfont';
@import 'variables';
@import 'fonts';
@import 'basic';

.wrapper {
}
.header {
  position: absolute;
  background: url(..\assests\header.png);
  width: 1440px;
  height: 800px;
  left: 0px;
  top: 0px;
  background-size: 100%;

  // .header__logo
  &__logo-container {
    position: absolute;
    width: 752px;
    height: 300px;
    left: 0px;
    top: 80px;

    background: #ffffff;
  }
  .logo {
    // .logo_brand

    &__brand {
      font-family: 'Gemunu Libre', sans-serif;
      position: absolute;
      font-size: 220px;
      height: 73.83px;
      left: 13.75%;
      top: 31.65px;

      color: #3a3e46;
    }

    // .logo__dot

    &__dot {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 624px;
      top: 204.55px;

      background: #fed053;
    }
  }

  // .header__content

  &__content {
    position: absolute;
    width: 636px;
    height: 200px;
    left: 0px;
    top: 380px;

    background: #f4a202;
  }

  // .header__content-text

  &__content-text {
    position: absolute;
    width: 455px;
    height: 136px;
    left: 117px;
    top: 422px;

    font-family: Sora;
    font-style: normal;

    font-size: 30px;
    line-height: 39px;

    color: #ffffff;
    &_main {
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    &_small {
      font-weight: 300;
    }
  }
}
.tagline {
  // .tagline__body

  &__body {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 800px;

    background: #fbce52;
  }

  // .tagline__list

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 960px;
    height: 373px;
    left: 228px;
    top: 114px;
  }

  // .tagline__number

  &__number {
    width: 24px;
    height: 24px;

    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #1d2228;
  }

  // .tagline__prop

  &__prop {
    padding: 0 0 0 30px;
    width: 552px;
    height: 113px;

    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 147.6%;

    color: #ffffff;
  }
  &__dot {
    width: 12px;
    height: 12px;
    background-color: #000;
  }
}
