@import 'iconfont';
@import 'variables';
@import 'fonts';
@import 'basic';

.wrapper {
}
.header {
  position: absolute;
  background: url(..\assests\header.png);
  width: 1440px;
  height: 800px;
  left: 0px;
  top: 0px;
  background-size: 100%;

  // .header__logo
  &__logo-container {
    position: absolute;
    width: 752px;
    height: 300px;
    left: 0px;
    top: 80px;

    background: #ffffff;
  }
  .logo {
    // .logo_brand

    &__brand {
      font-family: 'Gemunu Libre', sans-serif;
      position: absolute;
      font-size: 220px;
      height: 73.83px;
      left: 13.75%;
      top: 31.65px;

      color: #3a3e46;
    }

    // .logo__dot

    &__dot {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 624px;
      top: 204.55px;

      background: #fed053;
    }
  }

  // .header__content

  &__content {
    position: absolute;
    width: 636px;
    height: 200px;
    left: 0px;
    top: 380px;

    background: #f4a202;
  }

  // .header__content-text

  &__content-text {
    position: absolute;
    width: 455px;
    height: 136px;
    left: 117px;
    top: 422px;

    font-family: Sora;
    font-style: normal;

    font-size: 30px;
    line-height: 39px;

    color: #ffffff;
    &_main {
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    &_small {
      font-weight: 300;
    }
  }
}
.tagline {
  // .tagline__body

  &__body {
    position: absolute;
    width: 1440px;
    height: 560px;
    left: 0px;
    top: 800px;

    background: #fbce52;
  }

  // .tagline__list

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 283px;
    left: 228px;
    top: 114px;
  }

  // .tagline__number

  &__number {
    width: 24px;
    height: 24px;

    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #1d2228;
  }

  &__props-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 373px;
    left: 248px;
    top: 94px;
  }

  // .tagline__prop

  &__prop {
    width: 952px;
    height: 113px;

    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 147.6%;

    color: #ffffff;
  }
  &__dot {
    width: 12px;
    height: 12px;
    background-color: #000;
  }
}
.steps {
  // .steps__caption

  &__caption {
    position: absolute;
    width: 1032px;
    height: 210px;
    left: 253px;
    top: 1521px;
  }

  // .steps__caption-content

  &__caption-content {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 108px;

    color: #f4b301;
  }

  // .steps__container

  &__container {
    position: absolute;
    width: 1032px;
    height: 567px;
    left: 253px;
    top: 1521px;
  }

  // .steps__icons-container

  &__rectangle-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 822px;
    height: 317px;
    left: 0x;
    top: 301px;
  }

  &__icons-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 812px;
    height: 317px;
    left: 50px;
    top: 271px;
  }
  &__dotted-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 590px;
    height: 0px;
    left: 140px;
    top: 311px;
  }

  // .steps__dotted-line

  &__dotted-line {
    width: 220px;
    height: 0px;
    border-bottom-style: dashed;
    border-bottom-width: 6px;
    border-bottom-color: #3a3e46;
  }
  // .steps__rectangle

  &__rectangle {
    width: 96px;
    height: 96px;
    background: #fed053;
  }

  // .steps__icons

  &__icons {
    width: 100px;
    height: 100px;
    font-size: 92px;
    color: #3a3e46;
  }

  // .steps__dotted-line

  &__dotted-line {
  }

  // .steps__content

  &__content-container {
  }
  &__content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1032px;
    height: 267px;
    left: 0px;
    top: 421px;
  }
  &__content-text {
    width: 311px;
    height: 135px;
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1d2228;
  }
  &__content-legends {
    margin-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
  }
}
._black {
  color: #000;
}
._semi-black {
  color: #3a3e46;
}

.stock {
  position: absolute;
  background: url(..\assests\truck_box1.png);
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 2249px;
  background-size: 100%;

  // .stock__price

  &__price {
  }

  // .stock__content

  &__content {
    position: absolute;
    width: 360px;
    height: 249px;
    left: 540px;
    top: 2600px;

    background: #fbce52;
  }
}
